body{
    background-color: #e6e6ff;
}

.events-headings{
    background-color: #d7d7fc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    text-shadow: 1.5px 1.5px 4px #bcc0ff;
    font-size: 1.1rem;
}

.upcoming-events-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 4rem;
}

.upcoming-event{
    margin: 1rem;
}

.upcoming-event img{
    width: 12em;
}

.events-container{
    position: relative;
    width: 70%;
    margin: 0rem auto ;
    margin-top: 1rem;
    margin-bottom: 3rem;
    overflow: auto;
    border: #ffffff 1rem solid;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px 5px rgba(245, 233, 255, 0.2), 0 6px 20px 0 rgba(240, 227, 255, 0.19);
}

.events-slide{
    width: 100%;
    height: 70vh;
    min-height: fit-content;
    display: flex;
}

@media screen and (max-width: 1500px){
    .events-slide{
        height: 60vh;
    }
}

@media screen and (max-width: 1300px){
    .events-slide{
        height: 50vh;
    }
}

@media screen and (max-width: 1160px){
    .events-slide{
        height: 45vh;
    }
}

@media screen and (max-width: 1000px){
    .events-slide{
        height: 40vh;
    }
}

@media screen and (max-width: 800px){
    .events-slide{
        height: 35vh;
    }
}

@media screen and (max-width: 600px){
    .events-slide{
        height: 30vh;
    }
}

.event{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    max-height: 100%;
}

.event h1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    font-size: 1.75rem;
    font-style: italic;
    text-shadow: 1.5px 1.5px 4px #33335a;
    white-space: nowrap;
    min-height: 15%;
}

@media screen and (max-width: 800px){
    .event h1{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 550px){
    .event h1{
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 400px){
    .event h1{
        font-size: 1rem;
    }
}

.image{
    width: 100%;
    min-height: 85%;
}

.events-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.left-arrow, .right-arrow{
    position: absolute;
    color: white;
    font-size: 3.25em;
    cursor: pointer;
    font-weight: 100;
}

.left-arrow{
    top: 40%;
    left: 1rem;
}

.right-arrow{
    top: 40%;
    right: 1rem;
}

.bubbles{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 6rem;
    bottom: 18%;
    left: 50%;
    transform: translateX(-50%);

}

.bubble{
    background-color: rgb(211, 211, 211);
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    cursor: pointer;
}

.active-bubble{
    background-color: rgb(255, 255, 255);
}
