*,
*::before,
*::after{
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: black;
    line-height: 1.6;
}

.index-main{
    background: url('../images/college-bg.png') center;
    height: 60vh;
    min-width: 100vw;
}

h1, h2, h3, h4, p, ul{
    margin: 0;
    padding: 0;
}

header{ 
    height: 16vh;
    min-width: fit-content;
    background-color: #efefff;
}

.navbar{
    height: 100%;
    min-width: fit-content;
    width: 95vw;
    max-width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav-logo-title{
    display: flex;
    align-items: center;
    min-width: fit-content;
    gap: 3px;
}

.nav-logo-title img{
    width: 3rem;
    transition: width 200ms ease-in-out;
}

.nav-title{
    font-size: 0.9rem;
    font-weight: 650;
    text-shadow: 1.5px 1.5px 4px #bcc0ff;
    font-variant: small-caps;
    transition: font-size 400ms ease-in-out;
}

.nav-links{
    background-color: #dcdcff;
    position: absolute;
    top: 16vh;
    right: 0;
    left: 0;
    padding: 1rem;
    list-style: none;
    line-height: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    width: 100%;
    transform-origin: top;
    display: none;
    transform: scale(1,0);
    transition: scale 300ms ease-in-out;
}

.links a{
    text-decoration: none;
    color: black;
}

.nav-links.activate{
    display: flex;
    transform: scale(1, 1);
}


.nav-links .active{
    border-bottom: 0.2rem black solid;
    font-weight: 600;
}

.nav-links > *:hover{
    border-bottom: 0.1rem black solid;
    font-weight: 600;
}

.nav-hamburger{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.lines{
    background-color: rgb(54, 54, 54);
    width: 1.25rem;
    height: 2px;
    border-radius: 10px;
}

@media screen and (max-width: 330px){
    .nav-title{
        font-size: 0.75rem;
    }
    
    .lines{
        width: 1rem;
    }
}

@media screen and (min-width: 600px){
    .nav-title{
        font-weight: 700;
    }
}

@media screen and (min-width: 880px){
    .nav-hamburger{
        display: none;
    }

    .nav-links{
        background-color: #efefff;
        transform: scale(1,1);
        display: flex;
        position: static;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex: 1 1 40%;
        min-width: fit-content;
        font-size: 0.85rem;
    }
    
    .nav-logo-title{
        flex: 2 1 60%;
    }

    .nav-title{
        font-size: 1.1rem;
        font-weight: 770;
    }

    .nav-logo-title img{
        width: 3.4rem;
    }

}

@media screen and (min-width: 1050px){
    .nav-title{
        font-size: 1.3rem;
        font-weight: 840;
    }

    .nav-logo-title img{
        width: 3.6rem;
    }

    .nav-links{
        font-size: 0.925rem;
    }
}

@media screen and (min-width: 1300px){
    .nav-title{
        font-size: 1.5rem;
        font-weight: 900;
    }

    .nav-logo-title img{
        width: 3.8rem;
    }

    .nav-links{
        font-size: 1rem;
    }
}


footer{
    background-color: #efefff;
    /* position: fixed; */
    bottom: 0;
    min-width: 100%;
    min-height: fit-content;
}

.footer-content{
    min-width: fit-content;
    min-height: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
    gap: 0.8rem;
}

@media screen and (max-width: 390px){
    .footer-title-details{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 360px){
    .footer-title-details{
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 340px){
    .footer-title-details{
        font-size: 0.75rem;
    }
}

.footer-content > *{
    flex: 1 1 45%;
    min-width: fit-content;
    flex-wrap: wrap;
}

.footer-logo img{
    width: 5rem;
}

.footer-left{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.7;
    padding: 1.05rem;
    gap: 1rem;
}

.footer-title{
    font-weight: 700;
}
.footer-sub-title{
    font-weight: 600;
}
.footer-details{
    font-weight: 500;
}

.footer-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.85rem;
}

.footer-social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.social-link1 img, .social-link2 img, .social-link3 img{
    width: 2.25rem;
}

.contact, .mobile{
    font-weight: 500;
    display: flex;
}

.contact img, .mobile img{
    width: 1.25rem;
}

@media screen and (max-width: 360px){
    .contact address{
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 334px){
    .contact address{
        font-size: 0.8rem;
    }
}