<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Page</title>
</head>
<body>
    <h1>Join Page</h1><br>
    <form action = "http://localhost:5000/join/join-status" method = "POST">
        <p>Name: <input type = "text" name = "name" /></p>
        <p>ID: <input type = "text" name = "id" /></p>
        <p>Campus: <input type = "text" name = "campus" /></p>
        <p>Batch: <input type ="text" name = "batch" /></p>
        <p><input type = "submit" value = "submit" /></p>
     </form>
</body>
</html>