<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap" rel="stylesheet">    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/about-styles.css">
    <link rel="shortcut icon" href="../static/images/assoc-favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/images/assoc-favicon.ico" type="image/x-icon">
    <script src="../static/js/script.js" defer></script>
    <script src="../static/js/past-events.js" defer></script>
    <title>Mathematics Association</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="nav-logo-title">
                <img class="nav-logo" src="../static/images/assoc.png" alt="Assoc Logo">
                <h1 class="nav-title">Mathematics Association, BITS Pilani</h1>
            </div>
            <ul class="nav-links">
                <li class="links link1"><a href="/" style="color: #000000; text-decoration: none;">Home</a></li>
                <li class="links link2 active"><a href="/members" style="color: #000000; text-decoration: none;">Members</a></li>
                <li class="links link3"><a href="/event" style="color: #000000; text-decoration: none;">Events</a></li>
                <li class="links link4"><a href="/contact" style="color: #000000; text-decoration: none;">Contact Us</a></li>
                <li class="links link5"><a href="/join" style="color: #000000; text-decoration: none;">Join Us</a></li>
            </ul>
            <div class="nav-hamburger">
                <div class="lines line1"></div>
                <div class="lines line2"></div>
                <div class="lines line3"></div>
            </div>
        </nav>
    </header>
    <main>
        <section class="description">
            <p>We are a group of enthusiastic students that help support the mathematical community on the campus. Throughout the year, we organize and host academic events, programs and social activities to help encourage collaboration, active participation and teamwork amongst the students. We are dedicated to making mathematics accessible and fun to all BITSian students, and to enhance the experience of undergraduate mathematics learning.</p>
        </section>
        <section class="prof">
            <h2 class="profile-heading">Professor-In-Charge</h2>
            <div class="profile-container prof-container">
                <img src="../static/images/prof.png" alt="prof-img" class="profile-img prof-img">
                <div class="name">Dr. Sumanta Pasari</div>
                <div class="designation">Professor-In-Charge</div>
                <address class="email">sumanta.pasari@pilani.bits-pilani.ac.in</address>
                <div class="profile-links">
                    <a href="https://universe.bits-pilani.ac.in/pilani/sumantapasari/profile"><img src="../static/images/web.png" alt="web"></a>
                </div>
            </div>
        </section>
        <h2 class="profile-heading">Student Members</h2>
        <section class="student-members">
            <div class="profile-container dipam">
                <img src="../static/images/dipam.png" alt="dipam-profile-img" class="profile-img">
                <div class="name">Dipam Goswami</div>
                <div class="designation">President</div>
                <address class="email">f20170774@pilani.bits-pilani.ac.in</address>
                <div class="profile-links">
                    <a href="https://www.linkedin.com/in/dipam-goswami-0a424416b/?originalSubdomain=in"><img src="../static/images/linkedin-logo.svg" alt="linkedin"></a>
                    <!-- <a href="#"><img src="../static/images/github.svg" alt="github"></a> -->
                </div>
            </div>
            <div class="profile-container rituj">
                <img src="../static/images/rituj.png" alt="rituj-profile-img" class="profile-img">
                <div class="name">Rituj Mittal</div>
                <div class="designation">Secretary</div>
                <address class="email">f20180915@pilani.bits-pilani.ac.in</address>
                <div class="profile-links">
                    <a href="https://www.linkedin.com/in/rituj-mittal-b6b94a166/"><img src="../static/images/linkedin-logo.svg" alt="linkedin"></a>
                    <!-- <a href="#"><img src="../static/images/github.svg" alt="github"></a> -->
                </div>
            </div>
            <div class="profile-container krupa">
                <img src="../static/images/krupa2.png" alt="krupa-profile-img" class="profile-img">
                <div class="name">Krupa Bhayani</div>
                <div class="designation">APOGEE Co-ordinator</div>
                <address class="email">f20180844@pilani.bits-pilani.ac.in</address>
                <div class="profile-links">
                    <a href="https://www.linkedin.com/in/krupa-bhayani/?originalSubdomain=in"><img src="../static/images/linkedin-logo.svg" alt="linkedin"></a>
                    <a href="https://github.com/Krupa0409"><img src="../static/images/github.svg" alt="github"></a>
                </div>
            </div>
            <div class="profile-container sasank">
                <img src="../static/images/sasank.png" alt="sasank-profile-img" class="profile-img">
                <div class="name">Koganti Sasank</div>
                <div class="designation">Events Co-ordinator</div>
                <address class="email">f20181158@pilani.bits-pilani.ac.in</address>
                <div class="profile-links">
                    <!-- <a href="#"><img src="../static/images/linkedin-logo.svg" alt="linkedin"></a>
                    <a href="#"><img src="../static/images/github.svg" alt="github"></a> -->
                </div>
            </div>
            <div class="profile-container chirag">
                <img src="../static/images/chirag.png" alt="chirag-profile-img" class="profile-img">
                <div class="name">Chirag Jain</div>
                <div class="designation">Technical Head</div>
                <address class="email">f20180828@pilani.bits-pilani.ac.in</address>
                <div class="profile-links">
                    <a href="https://www.linkedin.com/in/chirag-jain-52b9ab1aa/"><img src="../static/images/linkedin-logo.svg" alt="linkedin"></a>
                    <!-- <a href="#"><img src="../static/images/github.svg" alt="github"></a> -->
                </div>
            </div>
            <div class="profile-container samarth">
                <img src="../static/images/samarth.png" alt="samarth-profile-img" class="profile-img">
                <div class="name">Samarth Joshi</div>
                <div class="designation">Design & Publicity Head</div>
                <address class="email">f20180873@pilani.bits-pilani.ac.in</address>
                <div class="profile-links">
                    <!-- <a href="#"><img src="../static/images/linkedin-logo.svg" alt="linkedin"></a>
                    <a href="#"><img src="../static/images/github.svg" alt="github"></a> -->
                </div>
            </div>
            <div class="profile-container prajwal">
                <img src="../static/images/prajwal.png" alt="prajwal-profile-img" class="profile-img">
                <div class="name">Prajwal Ranjan</div>
                <div class="designation">Editing Team Head</div>
                <address class="email">f20180414@pilani.bits-pilani.ac.in</address>
                <div class="profile-links">
                    <a href="https://www.linkedin.com/in/prajwal-ranjan-64907715b/"><img src="../static/images/linkedin-logo.svg" alt="linkedin"></a>
                    <a href="https://github.com/prajwalranjan"><img src="../static/images/github.svg" alt="github"></a>
                </div>
            </div>
            <div class="profile-container nandita">
                <img src="../static/images/nandita.png" alt="nandita-profile-img" class="profile-img">
                <div class="name">Nandita Kamath</div>
                <div class="designation">Cheif Editor</div>
                <address class="email">f20180868@pilani.bits-pilani.ac.in</address>
                <div class="profile-links">
                    <!-- <a href="#"><img src="../static/images/linkedin-logo.svg" alt="linkedin"></a>
                    <a href="#"><img src="../static/images/github.svg" alt="github"></a> -->
                </div>
            </div>
        </section>
        <h2 class="profile-heading atmesh">Junior Members</h2>
        <section class="junior-members">
            <div class="profile-container atmesh">
                <img src="../static/images/atmesh.png" alt="atmesh-profile-img" class="profile-img">
                <div class="name">Atmesh Mahapatra</div>
                <div class="designation">Joint Secretary</div>
                <address class="email">f20190560@pilani.bits-pilani.ac.in</address>
                <div class="profile-links">
                    <a href="https://www.linkedin.com/in/atmesh-mahapatra-9372b0190/"><img src="../static/images/linkedin-logo.svg" alt="linkedin"></a>
                    <a href="https://github.com/atmeshvm"><img src="../static/images/github.svg" alt="github"></a>
                </div>
            </div>
            <div class="profile-container bharat">
                <img src="../static/images/bharat.png" alt="bharat-profile-img" class="profile-img">
                <div class="name">Bharat Agarwal</div>
                <div class="designation">Joint Technical Head</div>
                <address class="email">f20190725@pilani.bits-pilani.ac.in</address>
                <div class="profile-links">
                    <!-- <a href="#"><img src="../static/images/linkedin-logo.svg" alt="linkedin"></a> -->
                    <a href="https://github.com/BhrtAgrwl01"><img src="../static/images/github.svg" alt="github"></a>
                </div>
            </div>
            <div class="profile-container devansh">
                <img src="../static/images/devansh.png" alt="devansh-profile-img" class="profile-img">
                <div class="name">Devansh Tanna</div>
                <div class="designation">Joint Technical Head</div>
                <address class="email">f20190158@pilani.bits-pilani.ac.in</address>
                <div class="profile-links">
                    <a href="https://www.linkedin.com/in/devansh-tanna-0210/"><img src="../static/images/linkedin-logo.svg" alt="linkedin"></a>
                    <a href="https://github.com/Devansh0210"><img src="../static/images/github.svg" alt="github"></a>
                </div>
            </div>
            <div class="profile-container pranay">
                <img src="../static/images/pranay.png" alt="pranay-profile-img" class="profile-img">
                <div class="name">Pranay Bansal</div>
                <div class="designation">Joint APOGEE Co-ordinator</div>
                <address class="email">f20190471@pilani.bits-pilani.ac.in</address>
                <div class="profile-links">
                    <!-- <a href="#"><img src="../static/images/linkedin-logo.svg" alt="linkedin"></a>
                    <a href="#"><img src="../static/images/github.svg" alt="github"></a> -->
                </div>
            </div>
            <div class="profile-container kshitij">
                <img src="../static/images/kshitij.png" alt="kshitij-profile-img" class="profile-img">
                <div class="name">Kshitij Gupta</div>
                <div class="designation">Joint APOGEE Co-ordinator</div>
                <address class="email">f20190619@pilani.bits-pilani.ac.in</address>
                <div class="profile-links">
                    <a href="https://www.linkedin.com/in/kshitij-gupta-612143196/"><img src="../static/images/linkedin-logo.svg" alt="linkedin"></a>
                    <a href="https://github.com/chef627"><img src="../static/images/github.svg" alt="github"></a>
                </div>
            </div>
            <div class="profile-container tanushri">
                <img src="../static/images/tanushri.png" alt="tanushri-profile-img" class="profile-img">
                <div class="name">Tanushri Tripathi</div>
                <div class="designation">Joint Editing Head</div>
                <address class="email">f20190617@pilani.bits-pilani.ac.in</address>
                <div class="profile-links">
                    <a href="https://www.linkedin.com/in/tanushri-tripathi-9b13771b1/"><img src="../static/images/linkedin-logo.svg" alt="linkedin"></a>
                    <a href="https://github.com/Tanushri101"><img src="../static/images/github.svg" alt="github"></a>
                </div>
            </div>
            <div class="profile-container ujjwal">
                <img src="../static/images/ujjwal.png" alt="ujjwal-profile-img" class="profile-img">
                <div class="name">Ujjwal Jain</div>
                <div class="designation">Join Events Co-ordinator</div>
                <address class="email">f20190647@pilani.bits-pilani.ac.in</address>
                <div class="profile-links">
                    <a href="https://www.linkedin.com/in/ujjwal26jain/"><img src="../static/images/linkedin-logo.svg" alt="linkedin"></a>
                    <a href="https://github.com/Ujjwaljain2608"><img src="../static/images/github.svg" alt="github"></a>
                </div>
            </div>
            <div class="profile-container nishant">
                <img src="../static/images/nishant.png" alt="nishant-profile-img" class="profile-img">
                <div class="name">Nishant Sahu</div>
                <div class="designation">Joint Events Co-ordinator</div>
                <address class="email">f20180868@pilani.bits-pilani.ac.in</address>
                <div class="profile-links">
                    <a href="https://www.linkedin.com/in/nishant-sahu-9807751ab/"><img src="../static/images/linkedin-logo.svg" alt="linkedin"></a>
                    <!-- <a href="#"><img src="../static/images/github.svg" alt="github"></a> -->
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-left">
                <div class="footer-logo">
                    <a href="https://www.bits-pilani.ac.in/Pilani/index.aspx">
                        <img src="../static/images/college.png" alt="Assoc Logo" class="footer-logo">
                    </a>
                </div>
                <div class="footer-title-details">
                    <h3 class="footer-title">Mathematics Association, BITS Pilani</h3>
                    <h4 class="footer-sub-title">BITS Pilani</h4>
                    <h4 class="footer-details">Jhunjhunu, Rajasthan-333031</h4>
                </div>
            </div>
            <div class="footer-right">
                    <div class="footer-social-links">
                        <div class="social-link1">
                            <a href="https://in.linkedin.com/company/math-bitspilani">
                                <img src="../static/images/linkedin-logo.svg" alt="LinkedIn">
                            </a>
                        </div>
                        <div class="social-link2">
                            <a href="https://www.instagram.com/maths.assoc.bits.pilani/">
                                <img src="../static/images/insta-logo.svg" alt="Instagram">
                            </a>
                        </div>
                        <div class="social-link3">
                            <a href="https://www.facebook.com/maths.assoc.bits.pilani/">
                                <img src="../static/images/fb-logo.svg" alt="Facebook">
                            </a>
                        </div>
                    </div>
                    <div class="contact">
                        <span class="material-icons">email</span>
                        <address>maths.assoc@pilani.bits-pilani.ac.in</address>
                    </div>
                    <div class="mobile">
                        <span class="material-icons">call</span>
                        <address>+91 82905 08760</address>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>